<footer class="footer">
    <div class="footer__container">
        <div class="footer__inner">
            <div class="footer__developer">
                <a href="#" target="_blank" class="footer__developer-logo">
                    <img src="/webicons/footer/logo.svg" alt="Логотип ООО Зелёный Город">
                </a>
                <p class="footer__developer-copyright">
                    &copy;&nbsp;2021 Застройщик ООО СЗ&nbsp;&laquo;Зелёный Город&raquo;
                </p>
            </div>
            <div class="footer__info">
                <div class="footer__info-links">
                    <a href="#" class="footer__info-link">Правила обработки персональных данных</a>
                    <a href="#" class="footer__info-link">Журнал обработки данных</a>
                </div>
                <div class="footer__info-disclaimer">
                    <p>Копирование любого материала с&nbsp;настоящего сайта допускается только с&nbsp;письменного
                        разрешения администрации сайта. Информация о&nbsp;ценах, планировках, а&nbsp;также специальных
                        предложениях, размещённых на&nbsp;данном сайте, носит исключительно ознакомительный характер,
                        не&nbsp;является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса
                        Российской Федерации. Представленные на&nbsp;сайте изображения объектов долевого строительства
                        носят предварительный ознакомительный характер и&nbsp;могут отличаться от&nbsp;фактических
                        проектных решений, реализуемых застройщиком</p>
                </div>
            </div>
            <div class="footer__author">
                <a href="https://multi.kelnik.ru/" target="_blank" class="footer__author-logo">
                    {% include './media/kelnik.svg' %}
                </a>
            </div>
        </div>
    </div>
</footer>
