<div id="callback" class="form j-form">
    <form action="/tests/form.php" method="post" class="form__form"
          data-validate data-validate-check="key" data-validate-check="submit">

        <input name="message_bot" type="hidden" value="hi, i'm bot">
        <div class="form__title">Заказ звонка</div>
        <div class="form__caption">Менеджер перезвонит вам и ответит на вопросы</div>

        <div class="form__input">
            {% include './input/input.twig' with {
                name: 'name',
                label: 'Ваше имя',
                ariaLabel: 'Ваше имя',
                placeholder: 'Введите ваше имя',
                data_validate_required: true,
                data_validate_letters: true,
                data_validate_name: 'name',
                data_validate_required_msg: 'Укажите ваше имя',
                data_validate_min: 3,
                data_validate_min_msg: 'Имя должно состоять как минимум из $ символов'
            } %}
        </div>

        <div class="form__input">
            {% include './input/input.twig' with {
                name: 'phone',
                label: 'Мобильный телефон',
                ariaLabel: 'Мобильный телефон',
                placeholder: 'Введите ваш телефон',
                data_validate_required: true,
                data_validate_name: 'phone',
                data_validate_mask: '+ 7 (999) 999-99-99',
                data_validate_mask_msg: 'Номер телефона должен состоять из 10 цифр',
                data_validate_required_msg: 'Укажите номер телефона'
            } %}
        </div>

        <div class="form__input">
            {% include './input/input.twig' with {
                name: 'time',
                icon: 'input-icon.svg',
                label: 'Удобное время звонка',
                ariaLabel: 'Удобное время звонка',
                placeholder: 'Любое время',
                data_validate_required: true,
                data_validate_name: 'time',
                data_validate_required_msg: 'Укажите удобное время звонка'
            } %}
        </div>

        <div class="form__input">
            {% include './input/input.twig' with {
                name: 'email',
                type: 'email',
                label: 'Электронная почта',
                ariaLabel: 'Электронная почта',
                placeholder: 'E-mail адрес',
                data_validate_required: true,
                data_validate_name: 'email',
                data_validate_required_msg: 'Укажите e-mail адрес'
            } %}
        </div>

        <div class="form__submit">
            {% include '../../components/button/button.twig' with {
                type: 'submit',
                dataAttr: 'data-send-text="Отправляем..." data-success-text="Отправлено" data-error-text="Повторить отправку"',
                modify: 'button_width_block button_size_mega j-form-submit',
                ariaLabel: 'Заказать звонок',
                text: 'Заказать звонок'
            }%}
        </div>

        <div class="form__agreement">
            {% include './agreement/agreement.twig' %}
        </div>
    </form>

    <div class="form__response j-form-success">
        <div class="form__response-heading">Форма отправлена</div>
        <div class="form__response-message">
            Менеджер перезвонит
        </div>
    </div>

    <div class="form__response j-form-error">
        <div class="form__response-heading">Ошибка</div>
        <div class="form__response-message">
            Попробуйте заполнить форму позднее
        </div>
    </div>
</div>
