<section id="visualplan" class="section j-anchor-section">
    <div class="visual-inner">
        <iframe class="visual-inner__iframe j-visual-frame"
                src="/assetsVisual/index.html?iframe=1" frameborder="0"></iframe>
    </div>
</section>
