{
    "rules" : {
        "for-direction" : "error",
        "getter-return" : ["error", { "allowImplicit": true }],
        "no-async-promise-executor" : "error",
        "no-await-in-loop" : "error",
        "no-compare-neg-zero": "error",
        "no-cond-assign" : ["error", "always"],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-constant-condition" : ["error", { "checkLoops": false }],
        "no-control-regex" : "error",
        "no-debugger" : "error",
        "no-dupe-args" : "error",
        "no-dupe-keys" : "error",
        "no-duplicate-case" : "error",
        "no-empty" : ["error", { "allowEmptyCatch": true }],
        "no-empty-character-class" : "error",
        "no-ex-assign" : "error",
        "no-extra-boolean-cast" : "error",
        "no-extra-parens" : ["error", "all", { "nestedBinaryExpressions": false }],
        "no-extra-semi" : "error",
        "no-func-assign" : "error",
        "no-inner-declarations" : ["error", "both"],
        "no-invalid-regexp": ["error", { "allowConstructorFlags": ["u", "y"] }],
        "no-irregular-whitespace" : "error",
        "no-misleading-character-class": "error",
        "no-obj-calls" : "error",
        "no-prototype-builtins" : "error",
        "no-regex-spaces" : "error",
        "no-sparse-arrays" : "error",
        "no-template-curly-in-string" : "error",
        "no-unexpected-multiline" : "error",
        "no-unreachable" : "error",
        "no-unsafe-finally" : "error",
        "no-unsafe-negation" : "error",
        "require-atomic-updates" : "error",
        "use-isnan" : "error",
        "valid-jsdoc" : ["error", { "requireReturn": false }],
        "valid-typeof" : ["error", { "requireStringLiterals": true }],

        "accessor-pairs" : "error",
        "array-callback-return" : "error",
        "block-scoped-var" : "error",
        "class-methods-use-this" : "off",
        "complexity" : ["error", { "max": 20 }],
        "consistent-return" : "error",
        "curly" : "error",
        "default-case" : "error",
        "dot-location" : ["error", "property"],
        "eqeqeq" : ["error", "smart"],
        "guard-for-in" : "error",
        "max-classes-per-file" : "off",
        "no-alert" : "error",
        "no-caller" : "error",
        "no-case-declarations" : "error",
        "no-div-regex" : "error",
        "no-else-return" : ["error", { "allowElseIf": true }],
        "no-empty-function" : ["error", { "allow": ["functions"] }],
        "no-empty-pattern" : "error",
        "no-eq-null" : "error",
        "no-eval" : "error",
        "no-extend-native" : "error",
        "no-extra-bind" : "error",
        "no-extra-label" : "error",
        "no-fallthrough" : "error",
        "no-floating-decimal" : "error",
        "no-global-assign" : "error",
        "no-implicit-coercion" : "error",
        "no-implicit-globals" : "error",
        "no-implied-eval" : "error",
        "no-invalid-this" : "error",
        "no-iterator" : "error",
        "no-labels" : "error",
        "no-lone-blocks" : "error",
        "no-loop-func" : "error",
        "no-magic-numbers" : ["off"],
        "no-multi-spaces" : "error",
        "no-multi-str" : "error",
        "no-new" : "error",
        "no-new-func" : "error",
        "no-new-wrappers" : "error",
        "no-octal" : "error",
        "no-octal-escape" : "error",
        "no-param-reassign" : "error",
        "no-proto" : "error",
        "no-redeclare" : "error",
        "no-restricted-properties": "off",
        "no-return-assign" : ["error", "always"],
        "no-return-await" : "error",
        "no-script-url" : "error",
        "no-self-assign" : "error",
        "no-self-compare" : "error",
        "no-sequences": "error",
        "no-throw-literal" : "error",
        "no-unmodified-loop-condition" : "error",
        "no-unused-expressions" : ["error", { "allowShortCircuit": true, "allowTernary": true }],
        "no-unused-labels" : "error",
        "no-useless-call" : "error",
        "no-useless-concat" : "error",
        "no-useless-escape" : "error",
        "no-useless-return" : "error",
        "no-void" : "error",
        "no-warning-comments" : ["warn", { "terms": ["todo", "fixme", "any other term"], "location": "anywhere" }],
        "no-with" : "error",
        "prefer-promise-reject-errors" : "error",
        "radix" : ["error", "as-needed"],
        "require-await" : "error",
        "vars-on-top" : "error",
        "wrap-iife" : ["error", "any"],
        "yoda": "error",

        "strict": ["error", "global"],

        "init-declarations" : ["error", "always"],
        "no-catch-shadow" : "error",
        "no-delete-var" : "error",
        "no-label-var" : "error",
        "no-restricted-globals": "off",
        "no-shadow" : "error",
        "no-shadow-restricted-names" : "error",
        "no-undef" : "error",
        "no-undef-init" : "error",
        "no-undefined" : "error",
        "no-unused-vars" : "error",

        "callback-return" : "error",
        "global-require" : "error",
        "handle-callback-err" : "error",
        "no-buffer-constructor" : "error",
        "no-mixed-requires" : "error",
        "no-new-require" : "error",
        "no-path-concat" : "error",
        "no-process-env" : "error",
        "no-process-exit" : "error",
        "no-restricted-modules": "off",
        "no-sync" : "error",

        "array-bracket-newline": ["error", "never"],
        "array-bracket-spacing": ["error", "never"],
        "array-element-newline": ["error", "never"],
        "block-spacing": ["error", "always"],
        "brace-style": ["error", "1tbs"],
        "camelcase": ["error", {"properties": "always"}],
        "capitalized-comments": "off",
        "comma-dangle": ["error", "never"],
        "comma-spacing" : ["error", {"before": false, "after": true}],
        "comma-style": ["error", "last"],
        "computed-property-spacing": ["error", "never"],
        "consistent-this": ["error", "that"],
        "eol-last": ["error", "always"],
        "func-call-spacing": ["error", "never"],
        "func-name-matching": ["error", "never"],
        "func-names": ["error", "as-needed"],
        "func-style": ["error", "expression"],
        "function-paren-newline" : ["error", "never"],
        "id-blacklist": ["error", "e", "cb", "btn"],
        "id-length": "off",
        "id-match": "off",
        "implicit-arrow-linebreak" : ["error", "beside"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "jsx-quotes": ["error", "prefer-double"],
        "key-spacing": ["error", { "beforeColon": false, "afterColon": true, "align": "colon"}],
        "keyword-spacing": ["error", { "before": true, "after": true}],
        "line-comment-position": ["error", { "position": "above" }],
        "linebreak-style": "off",
        "lines-around-comment": ["error",
            { "beforeBlockComment": true, "allowBlockStart": true, "allowClassStart": true,
                "allowObjectStart": true, "allowArrayStart": true }
        ],
        "lines-between-class-members": ["error", "always"],
        "max-depth": ["error", 4],
        "max-len": ["error", 120, 4, { "ignoreComments": true, "ignoreTrailingComments": true, "ignoreUrls": true}],
        "max-lines": "off",
        "max-lines-per-function": ["error", { "max": 60, "skipBlankLines": true, "skipComments": true, "IIFEs": true }],
        "max-nested-callbacks": ["error", 10],
        "max-params": ["error", 4],
        "max-statements": ["error", 20, { "ignoreTopLevelFunctions": true }],
        "max-statements-per-line": ["error", { "max": 1 }],
        "multiline-comment-style": ["error", "separate-lines"],
        "multiline-ternary": ["error", "always-multiline"],
        "new-cap": ["error", { "newIsCap": true, "capIsNew": true }],
        "new-parens": "error",
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
        "no-array-constructor": "error",
        "no-bitwise": "error",
        "no-continue": "error",
        "no-inline-comments": ["error", { "ignorePattern": "webpackChunkName:\\s.+" }],
        "no-lonely-if": "error",
        "no-mixed-operators": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-multi-assign": "error",
        "no-multiple-empty-lines": ["error", { "max": 2 }],
        "no-negated-condition": "error",
        "no-nested-ternary": "off",
        "no-new-object": "error",
        "no-plusplus": ["off", { "allowForLoopAfterthoughts": true }],
        "no-restricted-syntax": "off",
        "no-tabs": "error",
        "no-ternary": "off",
        "no-trailing-spaces": "error",
        "no-underscore-dangle": ["off", { "allowAfterThis": true, "allowAfterSuper": true  }],
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "nonblock-statement-body-position": ["error", "beside"],
        "object-curly-newline": ["off", { "multiline": true }],
        "object-curly-spacing": ["error", "never"],
        "object-property-newline": "error",
        "one-var": ["error", "never"],
        "one-var-declaration-per-line": ["error", "always"],
        "operator-assignment": ["error", "never"],
        "operator-linebreak": ["error", "after"],
        "padded-blocks": ["error", "never"],
        "padding-line-between-statements": ["error",
            { "blankLine": "always", "prev": "*", "next": "return" },
            { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
            { "blankLine": "any",    "prev": ["const", "let", "var"], "next": ["const", "let", "var"]},
            { "blankLine": "always", "prev": "directive", "next": "*" },
            { "blankLine": "any",    "prev": "directive", "next": "directive" }
        ],
        "prefer-object-spread" : "error",
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "require-jsdoc": "off",
        "semi": ["error", "always"],
        "semi-spacing": ["error", { "before": false, "after": true }],
        "semi-style": ["error", "last"],
        "sort-keys": "off",
        "sort-vars": "off",
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "spaced-comment": ["error", "always"],
        "switch-colon-spacing": "error",
        "template-tag-spacing": ["error", "always"],
        "unicode-bom": ["error", "never"],
        "wrap-regex": "error",

        "arrow-body-style" : ["error", "always"],
        "arrow-parens" : ["error", "always"],
        "arrow-spacing" : ["error", { "before": true, "after": true }],
        "constructor-super" : "error",
        "generator-star-spacing" : ["error", {"before": false, "after": true}],
        "no-class-assign" : "error",
        "no-confusing-arrow" : "error",
        "no-const-assign" : "error",
        "no-dupe-class-members" : "error",
        "no-duplicate-imports" : "error",
        "no-new-symbol" : "error",
        "no-restricted-imports": "off",
        "no-this-before-super" : "error",
        "no-useless-computed-key" : "error",
        "no-useless-constructor" : "error",
        "no-useless-rename" : "error",
        "no-var" : "error",
        "object-shorthand" : ["error", "always"],
        "prefer-arrow-callback" : "error",
        "prefer-const" : "error",
        "prefer-destructuring": "off",
        "prefer-numeric-literals" : "error",
        "prefer-rest-params" : "off",
        "prefer-spread" : "error",
        "prefer-template" : "error",
        "require-yield" : "error",
        "rest-spread-spacing" : "error",
        "sort-imports" : ["error", { "ignoreCase": true }],
        "symbol-description" : "error",
        "template-curly-spacing" : ["error", "never"],
        "yield-star-spacing" : ["error", "after"]
    },
    "overrides": [
        {
            "files": ["**/*.ts", "**/*.tsx"],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "ecmaFeatures": { "jsx": true },
                "ecmaVersion": 2018,
                "sourceType": "module",
                "project": "./tsconfig.json"
            },
            "plugins": ["@typescript-eslint"],
            "rules": {
                "lines-between-class-members": "off",
                "@typescript-eslint/lines-between-class-members": ["error", "always", {
                    "exceptAfterSingleLine": true
                }],
                "no-unused-vars": "off",
                "@typescript-eslint/no-unused-vars": "error",
                "no-undefined": "off",
                "@typescript-eslint/ban-types": "error",
                "@typescript-eslint/no-empty-interface": "error",
                "@typescript-eslint/adjacent-overload-signatures": "error",
                "@typescript-eslint/member-delimiter-style": ["error", {
                    "multiline": {
                        "delimiter": "semi",
                        "requireLast": true
                    },
                    "singleline": {
                        "delimiter": "comma",
                        "requireLast": false
                    },
                    "multilineDetection": "brackets"
                }],
                "@typescript-eslint/type-annotation-spacing": ["error", {
                    "before": false,
                    "after": true,
                    "overrides": {
                        "arrow": {
                            "before": true,
                            "after": true
                        }
                    }
                }],
                "@typescript-eslint/typedef": [
                    "error",
                    {
                        "arrowParameter": true,
                        "memberVariableDeclaration": true,
                        "objectDestructuring": true,
                        "parameter": true,
                        "propertyDeclaration": true
                    }
                ],
                "@typescript-eslint/array-type": "error",
                "@typescript-eslint/consistent-generic-constructors": ["error", "type-annotation"],
                "@typescript-eslint/consistent-indexed-object-style": ["error", "record"],
                "@typescript-eslint/consistent-type-assertions": ["error", {
                    "assertionStyle": "as",
                    "objectLiteralTypeAssertions": "allow-as-parameter"
                }],
                "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
                "@typescript-eslint/consistent-type-imports": ["error", {
                    "prefer": "type-imports",
                    "disallowTypeAnnotations": true
                }],
                "@typescript-eslint/explicit-function-return-type": ["error", {
                    "allowExpressions": true,
                    "allowTypedFunctionExpressions": true,
                    "allowHigherOrderFunctions": true,
                    "allowDirectConstAssertionInArrowFunctions": true,
                    "allowConciseArrowFunctionExpressionsStartingWithVoid": true
                }],
                "@typescript-eslint/member-ordering": "error",
                "@typescript-eslint/method-signature-style": ["error", "method"],
                "@typescript-eslint/no-array-constructor": "error",
                "@typescript-eslint/no-dupe-class-members": "error",
                "no-empty-function": "off",
                "@typescript-eslint/no-empty-function": ["error", {
                    "allow": ["constructors", "overrideMethods"]
                }],
                "@typescript-eslint/no-extra-non-null-assertion": "error",
                "no-loss-of-precision": "off",
                "@typescript-eslint/no-this-alias": ["error", {
                    "allowDestructuring": true,
                    "allowedNames": ["that", "instance"]
                }],
                "@typescript-eslint/no-useless-empty-export": "error",
                "@typescript-eslint/prefer-as-const": "error",
                "@typescript-eslint/prefer-enum-initializers": "error",
                "@typescript-eslint/prefer-function-type": "error",
                "@typescript-eslint/prefer-optional-chain": "error",
                "@typescript-eslint/unified-signatures": "error",

                "no-extra-parens" : "off",
                "@typescript-eslint/no-extra-parens" : ["error", "all", { "nestedBinaryExpressions": false }],

                "no-duplicate-imports": "off",

                "init-declarations": "off",
                "@typescript-eslint/init-declarations": "warn",

                "no-shadow": "off",
                "@typescript-eslint/no-shadow": ["error"],

                "indent": "off",
                "@typescript-eslint/indent": ["error", 4, { "SwitchCase": 1, "FunctionExpression": {"parameters": "first"}}]
            }
        }
    ],
    "parserOptions": {
        "ecmaVersion": 13,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es2022": true,
        "jquery": true,
        "node" : true
    }
}
