/.fleet
/.idea
/.vscode
node_modules
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
*.log
