{
    "plugins": [
        "stylelint-scss",
        "stylelint-selector-bem-pattern"
    ],
    "rules": {
        "at-rule-no-unknown": null,
        "at-rule-name-case": "lower",
        "at-rule-name-space-after": "always",
        "at-rule-semicolon-newline-after": "always",
        "at-rule-semicolon-space-before": "never",
        "at-rule-no-vendor-prefix": true,
        "block-no-empty": true,
        "block-closing-brace-empty-line-before": "never",
        "block-opening-brace-newline-after": "always",
        "block-opening-brace-space-before": "always",
        "color-hex-case": "lower",
        "color-hex-length": "long",
        "color-no-invalid-hex": true,
        "comment-empty-line-before": ["always", {
                "ignore": [
                    "after-comment",
                    "stylelint-commands"
                ]
            }],
        "comment-no-empty": true,
        "comment-whitespace-inside": "always",
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-block-no-redundant-longhand-properties": true,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-empty-line-before": "never",
        "declaration-no-important": true,
        "font-family-name-quotes": "always-unless-keyword",
        "font-family-no-missing-generic-family-keyword": true,
        "font-weight-notation": "numeric",
        "function-calc-no-unspaced-operator": true,
        "function-comma-newline-after": "never-multi-line",
        "function-comma-newline-before": "never-multi-line",
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-max-empty-lines": 0,
        "function-name-case": ["lower", {
            "ignoreFunctions": ["/^[a-z][a-zA-Z0-9]+$/"]
            }
        ],
        "function-parentheses-newline-inside": "never-multi-line",
        "function-parentheses-space-inside": "never",
        "function-url-no-scheme-relative": true,
        "function-url-quotes": "always",
        "function-whitespace-after": "always",
        "indentation": 4,
        "keyframe-declaration-no-important": true,
        "length-zero-no-unit": true,
        "max-empty-lines": 2,
        "max-nesting-depth": 5,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-name-case": "lower",
        "media-feature-parentheses-space-inside": "never",
        "no-duplicate-at-import-rules": true,
        "no-duplicate-selectors": true,
        "no-empty-source": true,
        "no-extra-semicolons": true,
        "number-leading-zero": "always",
        "number-max-precision": 3,
        "number-no-trailing-zeros": true,
        "property-case": "lower",
        "property-no-vendor-prefix": true,
        "rule-empty-line-before": ["always", {
            "except": ["after-single-line-comment", "first-nested"]
        }],
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-quotes": "always",
        "selector-class-pattern": "^[a-z]([-]?[a-z0-9]+)*(__[a-z0-9]([-]?[a-z0-9]+)*)?((_[a-z0-9]([-]?[a-z0-9]+)*){2})?$",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-descendant-combinator-no-non-space": true,
        "selector-list-comma-newline-after": "always",
        "selector-max-attribute": 2,
        "selector-max-class": 5,
        "selector-max-combinators": 3,
        "selector-max-id": 0,
        "selector-max-pseudo-class": 3,
        "selector-max-type": 3,
        "selector-max-universal": 2,
        "selector-pseudo-element-colon-notation": "single",
        "selector-no-vendor-prefix": true,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-no-unknown": true,
        "selector-type-case": "lower",
        "selector-type-no-unknown": true,
        "shorthand-property-no-redundant-values": true,
        "string-no-newline": true,
        "string-quotes": "double",
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-keyword-case": "lower",
        "value-list-comma-newline-after": "never-multi-line",
        "value-list-comma-newline-before": "never-multi-line",
        "value-list-comma-space-after": "always",
        "value-list-comma-space-before": "never",
        "value-list-max-empty-lines": 0,
        "value-no-vendor-prefix": true,
        "declaration-block-single-line-max-declarations": 1,
        "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
        "scss/at-else-closing-brace-space-after": "always-intermediate",
        "scss/at-else-empty-line-before": "never",
        "scss/at-else-if-parentheses-space-before": "always",
        "scss/at-function-parentheses-space-before": "never",
        "scss/at-function-named-arguments": "never",
        "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
        "scss/at-if-closing-brace-space-after": "always-intermediate",
        "scss/at-mixin-argumentless-call-parentheses": "always",
        "scss/at-mixin-named-arguments": "never",
        "scss/at-mixin-parentheses-space-before": "never",
        "scss/at-rule-no-unknown": true,
        "scss/dollar-variable-colon-space-after": "always",
        "scss/dollar-variable-colon-space-before": "never",
        "scss/double-slash-comment-whitespace-inside": "always",
        "scss/media-feature-value-dollar-variable": "always",
        "scss/operator-no-newline-after": true,
        "scss/operator-no-newline-before": null,
        "scss/operator-no-unspaced": true,
        "plugin/selector-bem-pattern": {
            "preset": "bem"
        }
    }
}
