<a href="javascript:;" class="{% if modify %}{{ modify }}{% endif%} favourite j-favourite">
    <div class="favourite__icon-container">
        <span class="favourite__icon">
            {% include './media/favorite.svg' %}
        </span>
    </div>
</a>
