<div class="cookies-notice j-cookies-notice" data-timer="30">
    <div class="cookies-notice__text">
        Мы&nbsp;используем файлы cookie. Продолжая пользоваться сайтом, вы&nbsp;соглашаетесь
        <button
           class="j-popup"
           data-no-hash="true"
           data-href="cookies"
           data-modify="content">
            с&nbsp;использованием файлов cookie
        </button> или <a href="#">с&nbsp;использованием файлов cookie в виде ссылки</a>
    </div>
    <div class="cookies-notice__button">
        {% include '../button/button.twig' with {
            modify: 'button_theme_color j-cookies-notice__button',
            text: 'Принимаю'
        }%}
    </div>
</div>
<template id="cookies">
    <h2>О&nbsp;файлах Cookie</h2>
    <p>Файл cookie представляет собой небольшой файл, обычно состоящий из&nbsp;букв и&nbsp;цифр. Когда вы&nbsp;посещаете
        сайт, файл сохраняется на&nbsp;вашем компьютере, планшетном&nbsp;ПК, телефоне или другом устройстве. Cookies
        помогают нам повысить эффективность работы сайта и&nbsp;получить аналитические данные.</p>
    <h3>Типы файлов cookie</h3>
    <h4>Строго необходимые файлы cookie.</h4>
    <p>Эти файлы cookie необходимы, чтобы сайт работал корректно, они позволят Вам передвигаться по&nbsp;нашему сайту и&nbsp;использовать
        его возможности. Эти файлы не&nbsp;идентифицируют вас как личность. Если вы&nbsp;не&nbsp;согласны использовать
        данный тип файлов, это может оказать влияние на&nbsp;производительность веб-сайта, или его компонентов.</p>
    <h4>Файлы cookie, относящиеся к&nbsp;производительности, эффективности и&nbsp;аналитике.</h4>
    <p>Эти файлы помогают нам понять, как посетители взаимодействуют с&nbsp;нашим сайтом, предоставляя информацию о&nbsp;тех
        областях, которые они посетили и&nbsp;количестве времени, которое они провели на&nbsp;сайте, так&nbsp;же они
        показывают проблемы в&nbsp;работе интернет-ресурса, например, сообщения об&nbsp;ошибках. Это поможет нам
        улучшить работу сайта.</p>
    <p>Файлы cookie, относящиеся к&nbsp;аналитике, также помогают нам измерять эффективность рекламных кампаний и&nbsp;оптимизировать
        содержание сайтов для тех, кого заинтересовала наша реклама. Данный тип файлов cookies не&nbsp;может быть
        использован для вашей идентификации. Вся информация, которая собирается и&nbsp;анализируется, анонимна.</p>
    <p>Функциональные файлы cookie. Эти файлы cookie служат для того, чтобы опознавать пользователей, возвращающихся на&nbsp;наш
        сайт. Они позволяют нам индивидуально подбирать содержание сайта для вас, приветствовать вас по&nbsp;имени и&nbsp;запоминать
        ваши предпочтения. Если вы&nbsp;блокируете этот тип файлов, то&nbsp;это может повлиять на&nbsp;производительность
        и&nbsp;функциональность веб-сайта и&nbsp;может ограничить доступ к&nbsp;контенту на&nbsp;сайте.</p>
    <h4>Рекламные файлы cookie.</h4>
    <p>В&nbsp;эти файлы cookie записываются сведения о&nbsp;ваших посещениях сайтов, в&nbsp;том числе, о&nbsp;посещении
        наших сайтов и&nbsp;страниц, а&nbsp;также данные о&nbsp;ссылках и&nbsp;рекламе, которые вы&nbsp;выбирали для
        просмотра. Одна из&nbsp;целей, которые мы&nbsp;ставим перед собой,&nbsp;&mdash; отражать на&nbsp;наших
        веб-сайтах тот контент, который наиболее полно ориентирован на&nbsp;Вас.</p>
    <h3>Управление файлами cookie</h3>
    <p>Вы&nbsp;можете ограничить, заблокировать или удалить файлы cookie через настройки вашего браузера.</p>
</template>
