{#стрелки#}
<div class="slider__arrows j-slider-arrows">
    <button class="button-circle slider__arrow j-arrow j-arrow-left" aria-label="Следующий слайд">
        {% include "../media/arrow-left.svg.twig" %}
    </button>
    <button class="button-circle slider__arrow j-arrow j-arrow-right" aria-label="Предыдущий слайд">
        {% include "../media/arrow-right.svg.twig" %}
    </button>
</div>
