<a href="#" class="navigation-fullscreen__main-item">
    <div class="navigation-fullscreen__main-ico">
        {% include "../media/search-flat-params.svg" %}
    </div>
    <div class="navigation-fullscreen__main-text">
        {{ random(['Ссылка','Квартиры по параметрам','Коммерческие помещения', 'Очень длинная ссылка в несколько строк']) }}
    </div>
</a>