<details class="navigation-fullscreen__sub-group j-details" data-desktop-open="true">
    <summary class="navigation-fullscreen__sub-title">
        <a href="#">Пункт меню</a>
        <span class="navigation-fullscreen__sub-ico">
            {% include "../media/arrow-down.svg" %}
        </span>
    </summary>
    <div class="navigation-fullscreen__sub-list j-details__content">
        <a href="#" class="navigation-fullscreen__sub-item">Подпункт меню</a>
        <a href="#" class="navigation-fullscreen__sub-item">Подпункт меню с длинным текстом</a>
        <a href="#" class="navigation-fullscreen__sub-item">Подпункт</a>
        <a href="#" class="navigation-fullscreen__sub-item">Подпункт меню</a>
    </div>
</details>