<div class="grid__row{% if animationClass %} j-animation__content{% endif %}">
    <div class="grid__content grid__content_size_medium">
        <p>Квартиры в комплексе продуманы под различные варианты расстановки мебели и оптимальные
            маршруты перемещения. Комнаты правильной прямоугольной формы, близкой к квадрату.
            Отсутствуют лишние углы и выступы.</p>
        <p>Установлена горизонтальная разводка отопления. Нет стояков около окон. В каждой квартире
            балкон или лоджия не менее 3 м². Квартиры сдаются с предчистовой отделкой.
            И мы позаботились
            о том, что бы у каждого жильца «Березки» был вид на парк или пруд.</p>
    </div>
    <div class="grid__flat-plan{% if animationClass %} j-animation__content-item{% endif %}">
        {% include '../../components/plan/plan.twig' %}
    </div>
</div>
