<section id="policy"
         class="section j-anchor-section{% if animationClass %} {{ animationClass }}{% endif %}{% if reveal %} page-reveal {{ revealClass }} j-page-reveal{% endif %}">
    <div class="grid{% if reverse %} grid_theme_reverse{% endif %}">
        <div class="grid__common">
            <h2 class="j-animation__header">{{ title }}</h2>
            <div class="grid__wrapper">
                <div class="grid__row">
                    <div class="grid__content grid__content_size_full j-animation__content typo-reset">
                        <p>Настоящая Политика конфиденциальности персональных данных (далее – Политика
                            конфиденциальности) действует в отношении всей информации, которую Компания «Блаблабла»
                            (Общество с ограниченной ответственностью «БЛА БЛА 2.0»), именуемое в дальнейшем
                            «Компания», расположенную на доменном имени <span style="color: black;">https://www.blabla.com/ (далее Сайт Компании), может получить о Пользователе во время использования сайта Компании.</span>
                        </p>
                        <ol>
                            <li>Определение терминов</li>
                            <li class="ql-indent-1">В настоящей Политике конфиденциальности используются следующие
                                термины:
                            </li>
                            <li class="ql-indent-2">«Администрация сайта Компании» – уполномоченные сотрудники на
                                управления сайтом, действующие от имени Компании, которые организуют и (или)
                                осуществляет обработку персональных данных, а также определяет цели обработки
                                персональных данных, состав персональных данных, подлежащих обработке, действия
                                (операции), совершаемые с персональными данными.
                            </li>
                            <li class="ql-indent-2">«Персональные данные» - любая информация, относящаяся к прямо или
                                косвенно определенному или определяемому физическому лицу (субъекту персональных
                                данных).
                            </li>
                            <li class="ql-indent-2">«Обработка персональных данных» - любое действие (операция) или
                                совокупность действий (операций), совершаемых с использованием средств автоматизации или
                                без использования таких средств с персональными данными, включая сбор, запись,
                                систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
                                использование, передачу (распространение, предоставление, доступ), обезличивание,
                                блокирование, удаление, уничтожение персональных данных.
                            </li>
                            <li class="ql-indent-2">«Конфиденциальность персональных данных» - обязательное для
                                соблюдения Оператором или иным получившим доступ к персональным данным лицом требование
                                не допускать их распространения без согласия субъекта персональных данных или наличия
                                иного законного основания.
                            </li>
                            <li class="ql-indent-2">«Пользователь сайта Компании (далее - Пользователь)» – лицо, имеющее
                                доступ к Сайту, посредством сети Интернет и использующее Сайт Компании.
                            </li>
                            <li class="ql-indent-2">«Cookies» — небольшой фрагмент данных, отправленный веб-сервером и
                                хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз
                                пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего
                                сайта.
                            </li>
                            <li class="ql-indent-2">«IP-адрес» — уникальный сетевой адрес узла в компьютерной сети,
                                построенной по протоколу IP.
                            </li>
                            <li>Общие положения</li>
                            <li class="ql-indent-1">Использование Пользователем сайта Компании означает согласие с
                                настоящей Политикой конфиденциальности и условиями обработки персональных данных
                                Пользователя.
                            </li>
                            <li class="ql-indent-1">В случае несогласия с условиями Политики конфиденциальности
                                Пользователь должен прекратить использование сайта Компании.
                            </li>
                            <li class="ql-indent-1">Настоящая Политика конфиденциальности применяется только к сайту
                                Компании. Компания не контролирует и не несет ответственность за сайты третьих лиц, на
                                которые Пользователь может перейти по ссылкам, доступным на сайте Компании.
                            </li>
                            <li class="ql-indent-1">Администрация сайта не проверяет достоверность персональных данных,
                                предоставляемых Пользователем сайта.
                            </li>
                            <li>Предмет политики конфиденциальности</li>
                            <li class="ql-indent-1">Настоящая Политика конфиденциальности устанавливает обязательства
                                Администрации сайта Компании по неразглашению и обеспечению режима защиты
                                конфиденциальности персональных данных, которые Пользователь предоставляет по запросу
                                Администрации сайта при регистрации на сайте Компании.
                            </li>
                            <li class="ql-indent-1">Персональные данные, разрешённые к обработке в рамках настоящей
                                Политики конфиденциальности, предоставляются Пользователем путём заполнения
                                регистрационной формы на Сайте Компании в разделе «Форма обратной связи» и включают в
                                себя следующую информацию:
                            </li>
                            <li class="ql-indent-2">фамилию, имя, отчество Пользователя;</li>
                            <li class="ql-indent-2">контактный телефон Пользователя;</li>
                            <li class="ql-indent-2">адрес электронной почты (e-mail);</li>
                            <li class="ql-indent-1">Компания защищает Данные, которые автоматически передаются в
                                процессе просмотра рекламных блоков и при посещении страниц, на которых установлен
                                статистический скрипт системы ("пиксель"):
                                <ul>
                                    <li>IP адрес;</li>
                                    <li>информация из cookies;</li>
                                    <li>информация о браузере (или иной программе, которая осуществляет
                                        доступ к показу рекламы);
                                    </li>
                                    <li>время доступа;</li>
                                    <li>адрес страницы, на которой расположен рекламный блок;</li>
                                    <li>реферер (адрес предыдущей страницы).</li>
                                </ul>
                            </li>
                            <li class="ql-indent-1">Отключение cookies может повлечь невозможность доступа к частям
                                сайта Компании, требующим авторизации.
                            </li>
                            <li class="ql-indent-1">Компания осуществляет сбор статистики об IP-адресах своих
                                посетителей. Данная информация используется с целью выявления и решения технических
                                проблем, для контроля законности проводимых финансовых платежей.
                            </li>
                            <li class="ql-indent-1">Любая иная персональная информация неоговоренная выше (история
                                покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному
                                хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3.
                                настоящей Политики конфиденциальности.
                            </li>
                            <li>Цели сбора персональной информации пользователя</li>
                            <li class="ql-indent-1">Персональные данные Пользователя Администрация сайта Компании может
                                использовать в целях:
                            </li>
                            <li class="ql-indent-2">Идентификации Пользователя, зарегистрированного на сайте Компании,
                                для оформления запроса, заказа и (или) заключения Договора купли-продажи, и (или)
                                Договора участия в долевом строительстве дистанционным способом с Компанией.
                            </li>
                            <li class="ql-indent-2">Предоставления Пользователю доступа к персонализированным ресурсам
                                Сайта Компании.
                            </li>
                            <li class="ql-indent-2">Установления с Пользователем обратной связи, включая направление
                                уведомлений, запросов, касающихся использования Сайта Компании, оказания услуг,
                                обработка запросов и заявок от Пользователя.
                            </li>
                            <li class="ql-indent-2">Определения места нахождения Пользователя для обеспечения
                                безопасности, предотвращения мошенничества.
                            </li>
                            <li class="ql-indent-2">Подтверждения достоверности и полноты персональных данных,
                                предоставленных Пользователем.
                            </li>
                            <li class="ql-indent-2">Создания учетной записи для совершения покупок, если Пользователь
                                дал согласие на создание учетной записи.
                            </li>
                            <li class="ql-indent-2">Уведомления Пользователя Сайта Компании о состоянии запроса, Заказа
                                и (или) оформлении документов.
                            </li>
                            <li class="ql-indent-2">Предоставления Пользователю эффективной клиентской и технической
                                поддержки при возникновении проблем связанных с использованием Сайта Компании.
                            </li>
                            <li class="ql-indent-2">Предоставления Пользователю с его согласия, специальных предложений,
                                информации о ценах, новостной рассылки и иных сведений от имени Компании или от имени
                                партнеров Компании.
                            </li>
                            <li class="ql-indent-2">Осуществления рекламной деятельности с согласия Пользователя.</li>
                            <li class="ql-indent-2">Предоставления доступа Пользователю на сайты или сервисы партнеров
                                Компании с целью получения продуктов, обновлений и услуг.
                            </li>
                            <li>Способы и сроки обработки персональной информации</li>
                            <li class="ql-indent-1">Обработка персональных данных Пользователя осуществляется без
                                ограничения срока, любым законным способом, в том числе в информационных системах
                                персональных данных с использованием средств автоматизации или без использования таких
                                средств.
                            </li>
                            <li class="ql-indent-1">Пользователь соглашается с тем, что Администрация сайта вправе
                                передавать персональные данные третьим лицам, в частности, курьерским службам,
                                организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения
                                заказа Пользователя, оформленного на Сайте Компании, включая доставку документов и (или)
                                договоров.
                            </li>
                            <li class="ql-indent-1">Персональные данные Пользователя могут быть переданы уполномоченным
                                органам государственной власти Российской Федерации только по основаниям и в порядке,
                                установленным законодательством Российской Федерации.
                            </li>
                            <li class="ql-indent-1">При утрате или разглашении персональных данных Администрация сайта
                                информирует Пользователя об утрате или разглашении персональных данных.
                            </li>
                            <li class="ql-indent-1">Администрация сайта принимает необходимые организационные и
                                технические меры для защиты персональной информации Пользователя от неправомерного или
                                случайного доступа, уничтожения, изменения, блокирования, копирования, распространения,
                                а также от иных неправомерных действий третьих лиц.
                            </li>
                            <li class="ql-indent-1">Администрация сайта совместно с Пользователем принимает все
                                необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных
                                утратой или разглашением персональных данных Пользователя.
                            </li>
                            <li>Обязательства сторон</li>
                            <li class="ql-indent-1">Пользователь обязан:</li>
                            <li class="ql-indent-2">Предоставить информацию о персональных данных, необходимую для
                                пользования Сайтом Компании.
                            </li>
                            <li class="ql-indent-2">Обновить, дополнить предоставленную информацию о персональных данных
                                в случае изменения данной информации.
                            </li>
                            <li class="ql-indent-1">Администрация сайта обязана:</li>
                            <li class="ql-indent-2">Использовать полученную информацию исключительно для целей,
                                указанных в п. 4 настоящей Политики конфиденциальности
                            </li>
                            <li class="ql-indent-2">Обеспечить хранение конфиденциальной информации в тайне, не
                                разглашать без предварительного письменного разрешения Пользователя, а также не
                                осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами
                                переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей
                                Политики Конфиденциальности.
                            </li>
                            <li class="ql-indent-2">Принимать меры предосторожности для защиты конфиденциальности
                                персональных данных Пользователя согласно порядку, обычно используемого для защиты
                                такого рода информации в существующем деловом обороте.
                            </li>
                            <li class="ql-indent-2">Осуществить блокирование персональных данных, относящихся к
                                соответствующему Пользователю, с момента обращения или запроса Пользователя или его
                                законного представителя либо уполномоченного органа по защите прав субъектов
                                персональных данных на период проверки, в случае выявления недостоверных персональных
                                данных или неправомерных действий.
                            </li>
                            <li>Ответственность сторон</li>
                            <li class="ql-indent-1">Администрация сайта, не исполнившая свои обязательства, несёт
                                ответственность за убытки, понесённые Пользователем в связи с неправомерным
                                использованием персональных данных, в соответствии с законодательством Российской
                                Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей
                                Политики Конфиденциальности.
                            </li>
                            <li class="ql-indent-1">В случае утраты или разглашения Конфиденциальной информации
                                Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
                            </li>
                            <li class="ql-indent-2">Стала публичным достоянием до её утраты или разглашения.</li>
                            <li class="ql-indent-2">Была получена от третьей стороны до момента её получения
                                Администрацией сайта.
                            </li>
                            <li class="ql-indent-2">Была разглашена с согласия Пользователя.</li>
                            <li>Разрешение споров</li>
                            <li class="ql-indent-1">До обращения в суд с иском по спорам, возникающим из отношений между
                                Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии
                                (письменного предложения о добровольном урегулировании спора).
                            </li>
                            <li class="ql-indent-1">Получатель претензии в течение 30 календарных дней со дня получения
                                претензии, письменно уведомляет заявителя претензии о результатах рассмотрения
                                претензии.
                            </li>
                            <li class="ql-indent-1">При не достижении соглашения спор будет передан на рассмотрение в
                                судебный орган в соответствии с действующим законодательством Российской Федерации.
                            </li>
                            <li class="ql-indent-1">К настоящей Политике конфиденциальности и отношениям между
                                Пользователем и Администрацией сайта применяется действующее законодательство Российской
                                Федерации.
                            </li>
                            <li>Дополнительные условия</li>
                            <li class="ql-indent-1">Администрация сайта вправе вносить изменения в настоящую Политику
                                конфиденциальности без согласия Пользователя.
                            </li>
                            <li class="ql-indent-1">Новая Политика конфиденциальности вступает в силу с момента её
                                размещения на Сайте Компании, если иное не предусмотрено новой редакцией Политики
                                конфиденциальности.
                            </li>
                            <li class="ql-indent-1">Все предложения или вопросы по настоящей Политике конфиденциальности
                                следует сообщать указать раздел сайта Компании.
                            </li>
                            <li class="ql-indent-1">Действующая Политика конфиденциальности размещена на странице по
                                адресу&nbsp;<a href="https://www.group-akvilon.ru/privacy-policy/"
                                               rel="noopener noreferrer" target="_blank" style="color: blue;">https://www.</a><a
                                    href="https://www.group-akvilon.ru/privacy-policy/" rel="noopener noreferrer"
                                    target="_blank" style="color: windowtext;"> </a><a
                                    href="https://www.group-akvilon.ru/privacy-policy/" rel="noopener noreferrer"
                                    target="_blank" style="color: blue;">ai.spb.ru/privacy-policy/</a></li>
                        </ol>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
