// DEPENDENCIES
@import "../../common/styles/breakpoints";
@import "../../common/styles/mixins";
@import "../../common/styles/management-layers";
@import "../../common/styles/scale";

// todo: перенести в слайдер
// BLOCK
.gallery-zoom {
    @include scale(width, 46, 46, 56);
    @include scale(height, 46, 46, 56);
    @include scale(top, 10, 10, 10);
    @include scale(right, 10, 10, 10);
    @include transition(opacity);
    position: absolute;
    z-index: z(nav);
    background-image: url("../webicons/slider/zoom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &.is-show {
        @include scale(top, 24, 24, 43);
        @include scale(right, 24, 24, 43);
        position: fixed;
        z-index: 6;
        background-image: url("../webicons/slider/zoom-close.svg");
    }
}
