<div class="popup popup_theme_planoplan j-popup__body">
    <div class="popup__overlay j-popup__overlay"></div>
    <div class="popup__wrapper">
        <div class="popup__content j-popup__content">
            <div id="planoplan" class="popup__planoplan-wrapper"></div>
        </div>
        <button aria-label="Закрыть" class="button-circle popup__btn-close j-popup__close">
            {% include '../media/close.twig' %}
        </button>
    </div>
</div>
