<div class="yandex-map__overlay j-map__overlay">
    <div class="yandex-map__overlay-content">
        <div class="yandex-map__overlay-img">
            <img src="/images/yandex-map/{{ isDraggable ? 'one' : 'two' }}.png" alt=""/>
        </div>
        <p><b>Перемещайте&nbsp;карту {{ isDraggable ? 'пальцем' : 'двумя&nbsp;пальцами' }}</b></p>
    </div>
</div>
