{% extends "./layout/_layout.twig" %}
{% block title %}Горизонтальная разводка отопления...{% endblock %}

{% block header %}
    {% include '../components/header/header.twig' with {
        isHomePage: false,
        navigation: [
            {
                href: 'home.html#about',
                name: 'О проекте'
            },{
                href: 'home.html#location',
                name: 'Расположение'
            },{
                href: 'home.html#news',
                name: 'Новости'
            },{
                href: 'home.html#promotions',
                name: 'Акции'
            },{
                href: 'home.html#how-to-buy',
                name: 'Как купить'
            }, {
                href: 'home.html#progress',
                name: 'Ход строительства'
            }
        ]
    }%}
{% endblock %}

{% block content %}
    {# Первый экран новости #}
    {% include '../sections/page-header/page-header.twig' with {
        image: true,
        breadcrumbs: [
            {
                href: '/pages/home.html',
                text: 'Главная страница'
            },
            {
                href: '#',
                text: 'Новости'
            },
            {
                text: 'Горизонтальная разводка отопления ...'
            }
        ],
        title: 'Горизонтальная разводка отопления в&nbsp;квартирах &laquo;Амграда&raquo;: эстетика, надежность, тепло',
        footnote: '22 мая 2021'
    } %}
    {# Контент #}
    {% embed '../sections/news/news.twig' %}
        {% block content %}
            <p>Современные и удобные квартиры макрорайона «АМГРАД» — это новые планировочные решения,
                несколько видов отделки плюс инновационная система отопления.</p>
            <p>В&nbsp;домах выполнена горизонтальная разводка отопления. Подача тепла в&nbsp;дома
                макрорайона позволяет поэтажно распределять отопление, равномерно по&nbsp;всем квартирам.
                Ввод труб отопления в&nbsp;квартиру произведён с&nbsp;последующим распределением внутри
                помещения. Скрытая прокладка и&nbsp;отсутствие стояков вдоль стен значительно улучшают
                внешний вид помещений и&nbsp;расширяют возможности при создании дизайн-проекта.</p>
            <p>В&nbsp;каждой комнате под окнами установлены радиаторы с&nbsp;запорно-регулирующей арматурой.
                Она позволяет создавать свой микроклимат и&nbsp;что немаловажно, вести учет потребления
                тепла для каждой отдельной квартиры. Таким образом, горизонтальная разводка отопления
                является энергосберегающей и&nbsp;ресурсо-экономичной системой.</p>
            <p>Радиаторы имеют классический европейский дизайн и&nbsp;элегантную, лаконичную форму,
                максимальное прилегание к&nbsp;стене. Боковая поверхность радиаторов обеспечивает
                превосходную теплоотдачу.</p>
            <h4>Горизонтальная разводка отопления в&nbsp;многоквартирных домах имеет ряд достоинств:</h4>
            <p>Высокая степень контроля теплоотдачи. В&nbsp;такой схеме за&nbsp;расходом тепла очень просто
                следить за&nbsp;счет автоматического удаленного управления;<br>
                На&nbsp;любом отрезке контура можно настроить температуру отдельно, в&nbsp;зависимости от&nbsp;конкретных
                потребностей, предъявляемых помещением;<br>
                Максимальная надежность. При использовании качественных комплектующих горизонтальная система
                может без проблем проработать несколько десятков лет.<br>
                Горизонтальная разводка отопления&nbsp;&mdash; самая популярная коллекторная схема в&nbsp;настоящее
                время. Именно в&nbsp;ней уникально сочетаются отличные технические, эксплуатационные,
                экономические и&nbsp;эстетические показатели.</p>
        {% endblock %}
        {% block aside %}
            <h5>Другие новости</h5>
            {% include '../components/factoid/factoid-card.twig' with {
                items: [{
                    text: 'Текст новости в&nbsp;несколько строк',
                    comment: '22 мая 2021',
                    isTime: true
                }, {
                    text: 'Текст новости в&nbsp;несколько строк и&nbsp;ещё чуть-чуть',
                    comment: '22 мая 2021',
                    isTime: true
                }, {
                    text: 'Текст новости в&nbsp;несколько строк и&nbsp;ещё чуть-чуть',
                    comment: '22 мая 2021',
                    isTime: true
                }]
            } %}
        {% endblock %}
    {% endembed %}

    {# Форма на странице #}
    {% include '../sections/form-block/form-block.twig' %}

{% endblock %}

{% block footer %}
    {% include '../sections/footer/footer.twig' %}
{% endblock %}
