{% extends "./layout/_layout.twig" %}
{% block title %}Скидка 2% для семей с...{% endblock %}

{% block header %}
    {% include '../components/header/header.twig' with {
        isHomePage: false,
        navigation: [
            {
                href: 'home.html#about',
                name: 'О проекте'
            },{
                href: 'home.html#location',
                name: 'Расположение'
            },{
                href: 'home.html#news',
                name: 'Новости'
            },{
                href: 'home.html#promotions',
                name: 'Акции'
            },{
                href: 'home.html#how-to-buy',
                name: 'Как купить'
            }, {
                href: 'home.html#progress',
                name: 'Ход строительства'
            }
        ]
    }%}
{% endblock %}

{% block content %}
    {# Первый экран новости #}
    {% include '../sections/page-header/page-header.twig' with {
        modify: 'page-header_theme_promo',
        breadcrumbs: [
            {
                href: '/pages/home.html',
                text: 'Главная страница'
            },
            {
                href: '#',
                text: 'Акции'
            },
            {
                text: 'Скидка&nbsp;2% для семей с ...'
            }
        ],
        title: 'Скидка&nbsp;2% для семей с&nbsp;детьми, имеющими ограниченные возможности здоровья',
        footnote: 'до 30 Июля 2021'
    } %}

    {# Контент #}
    {% embed '../sections/news/news.twig' with {
        modify: 'section_theme_promo'
    } %}
        {% block content %}
            <h4>Инклюзивность&nbsp;&mdash; это важно!</h4>
            <p>Мы&nbsp;уже рассказывали, что в&nbsp;первом дворе макрорайона &laquo;АМГРАД&raquo; детская площадка
                инклюзивная, она подходит для детей с&nbsp;ограниченными возможностями, здесь все маленькие жители
                макрорайона, вне зависимости от&nbsp;возраста и&nbsp;здоровья смогут научиться лучше понимать друг
                друга. Например, есть горка, доступная для детей-колясочников, панели со&nbsp;шрифтом Брайеля, а&nbsp;также
                можно ознакомиться с&nbsp;языком глухонемых. И&nbsp;конечно на&nbsp;территории всего макрорайона мы&nbsp;создаем
                доступную среду: удобные широкие холлы и&nbsp;места общественного пользования, пандусы и&nbsp;доступ в&nbsp;подъезды
                с&nbsp;уровня земли.</p>
            <p>Мы&nbsp;хотим поддержать семьи, в&nbsp;которых растут дети с&nbsp;ограниченными возможностями, потому что
                знаем, что лечение и&nbsp;реабилитация может требовать немало средств. Теперь такие семьи смогут
                получить дополнительную скидку&nbsp;2% при покупке 2х&nbsp;или 3х-комнатной квартиры в&nbsp;строящемся
                доме &#8470;&nbsp;2. Эта скидка суммируется с&nbsp;дисконтом от&nbsp;застройщика и&nbsp;акциями банков
                при покупке квартиры в&nbsp;ипотеку от&nbsp;Сбербанка.</p>
            <p>Акция действует до&nbsp;30&nbsp;июля 2021&nbsp;года, чтобы вы&nbsp;могли успеть получить дополнительную
                выгоду, воспользовавшись льготными условиями ипотеки с&nbsp;господдержкой.</p>
            <p>Скидка не&nbsp;суммируется с&nbsp;другими акциями и&nbsp;программой привилегий.</p>
            <p>О&nbsp;подробных условиях акции вам расскажут наши менеджеры продаж, а&nbsp;также подберут вам идеальную
                квартиру для счастливой&nbsp;и, главное, полноценной жизни: <a href="tel:+78462151738">+7 (846) 215-17-38</a></p>
            <small>Сведения носят рекламно-информационный характер, не являются публичным предложением и не содержат
                точного описания и характеристик каких-либо товаров, работ или услуг, порядка и условий их
                приобретения Подробнее.</small>
        {% endblock %}
        {% block aside %}
            <h5>Другие акции</h5>
            {% include '../components/factoid/factoid-card.twig' with {
                items: [{
                    image: '/images/promotions/img2.png',
                    text: 'Скидка&nbsp;2% для жителей других городов',
                    comment: 'Постоянная акция'
                }, {
                    text: 'В&nbsp;сентябре скидки на&nbsp;2-комнатные квартиры!',
                    comment: 'до 3 марта 2024',
                    isTime: true
                }, {
                    text: 'Цены на&nbsp;старте продаж от&nbsp;60&nbsp;тысяч рублей за&nbsp;квадратный метр!',
                    comment: 'до 3 марта 2024',
                    isTime: true
                }]
            } %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer %}
    {% include '../sections/footer/footer.twig' %}
{% endblock %}
