<!-- Блок о комплексе -->
<section class="pdf-about">
    <h2>О жилом комплексе «Берёзка»</h2>
    <div class="pdf-about__address">
        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.63755C0 2.97186 3.13386 0 7 0C10.8661 0 14 2.9716 14 6.63729C14 10.303 7 18 7 18C7 18 0 10.3032 0 6.63755ZM4.375 6.54546C4.375 7.90112 5.55019 9 7 9C8.45021 9 9.625 7.90112 9.625 6.54546C9.625 5.18979 8.45021 4.09091 7 4.09091C5.55019 4.09091 4.375 5.18979 4.375 6.54546Z" />
        </svg>
        <span>Москва, Тёплый Стан, ул. Академика Виноградова, 5</span>
    </div>
    <div class="pdf-about__images">
        <img class="pdf-about__images-item" src="/images/pdf/pdf-about.jpg" alt="Вид ЖК">
        <img class="pdf-about__images-item" src="/images/pdf/pdf-map.jpg" alt="ЖК на карте">
    </div>
    <p class="pdf__text">
        Жилой комплекс «Берёзка» в Тёплом Стане. Экологически чистый район. Вокруг ландшафтный заказник «Теплый Стан», природный парк «Битцевский лес» и «Теплостанский пруд». Широкий ассортимент квартир и богатая инфраструктура. Защишенный двор, паркинг, магазины и кафе, и собственные сады и школы.
    </p>

    <div class="pdf-details">
        <ul class="pdf-details__list">
            <li>
                <div class="pdf-details__heading">Срок сдачи 1й очереди:</div>
                <b>3 квартал 2022</b>
            </li>
            <li>
                <div class="pdf-details__heading">Срок сдачи 2й очереди:</div>
                <b>1 квартал 2023</b>
            </li>
            <li>
                <div class="pdf-details__heading">Срок сдачи 3й очереди:</div>
                <b>3 квартал 2023</b>
            </li>
        </ul>

        <ul class="pdf-details__list">
            <li>
                <div class="pdf-details__heading">Стоимость квартир</div>
                <b>от 2,5 млн. до 15,7 млн. ₽</b>
            </li>
        </ul>
    </div>
</section>
<!-- /Блок о комплексе -->
<!-- Блок c контактами -->
<section class="pdf-contacts">
    <ul class="pdf-contacts__list">
        <li>
            <h4>Главный офис продаж</h4>
        </li>
        <li>
            <b>8 (800) 250 24 35</b>
        </li>
        <li>
            <span>
                Москва, улица Кржижановского, 6к1
            </span>
        </li>
        <li>
            <span>По будням с 10:00 до 18:00</span>
            <span>В выходные с 10:00 до 16:00</span>
        </li>
    </ul>
    <ul class="pdf-contacts__list">
        <li>
            <h4>Отдел продаж на объекте</h4>
        </li>
        <li>
            <b>8 (495) 456 34 23</b>
        </li>
        <li>Москва, Тёплый Стан ул. Академика Виноградова, 5</li>
        <li>
            <span>По будням с 10:00 до 21:00</span>
            <span>В выходные с 10:00 до 18:00</span>
        </li>
    </ul>
</section>
<!-- /Блок c контактами -->