<button class="navigation-mobile__button navigation-mobile__button-back j-navigation-mobile__menu-back">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.707 16.7071C15.0975 16.3166 15.0975 15.6834 14.707 15.2929L11.4141 12L14.707 8.70711C15.0975 8.31658 15.0975 7.68342 14.707 7.29289C14.3165 6.90237 13.6833 6.90237 13.2928 7.29289L8.5857 12L13.2928 16.7071C13.6833 17.0976 14.3165 17.0976 14.707 16.7071Z" />
    </svg>
        
    Назад
</button>