<div class="yandex-map__zoom-buttons-wrapper">
    <div id="{{ mapId }}-zoom-in" class="yandex-map__zoom-button yandex-map__zoom-button_theme_zoom-in"></div>
    <div id="{{ mapId }}-zoom-out" class="yandex-map__zoom-button yandex-map__zoom-button_theme_zoom-out"></div>
</div>
