<a
    href="tel:{{ phone|default("8-800-555-35-35")|replace({' ': '', '-': '', '(': '', ')': ''}) }}"
    class="phone{% if comagicClass %} {{ comagicClass }}{% endif %}{% if modify %} {{ modify }}{% endif %}">
        <span class="phone__number">{{ phone|default("8-800-555-35-35") }}</span>
</a>
