<header class="pdf-header">
    <div class="pdf-header__logo">
        <img src="/webicons/header/logo_dark.svg" alt="Логотип ЖК">
    </div>

    <div class="pdf-header__contacts">
        <div class="pdf-header__contacts-item">
            <div class="pdf-header__contacts-type">Телефон</div>
            <span>8 (800) 250 24 35</span>
            <span>8 (495) 456 34 23</span>
        </div>
        <div class="pdf-header__contacts-item">
            <div class="pdf-header__contacts-type">Время работы</div>
            <span>По будням с 10:00 до 18:00</span>
            <span>В выходные с 10:00 до 16:00</span>
        </div>
        <div class="pdf-header__contacts-item">
            <div class="pdf-header__contacts-type">Сайт</div>
            <span>berezka.ru</span>
        </div>
    </div>
</header>
