<footer class="pdf-footer">
    <div class="pdf-footer__items">
        <div class="pdf-footer__item">
            <span>berezka.ru/kavartiry/flats/2341</span>
        </div>
        <div class="pdf-footer__item">
            <span>Сгенерировано 13.09.2022, 15:23</span>
        </div>
        <div class="pdf-footer__item">
            <span>Не является офертой</span>
        </div>
    </div>
</footer>
