<section class="section section_theme_flat">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__flat">
                {% include '../../components/flat-card/flat-card.twig' %}
            </div>
        </div>
    </div>
</section>
