<div class="yandex-map__about-marker {% if modifyClass %}yandex-map__about-marker_{{ modifyClass }}{% endif %} j-yandex-map-marker"
     style="width:{{size.width}}px; height:{{size.height}}px">
    {% if icon %}
        <img src="{{ icon }}" alt="icon">
    {% endif %}
</div>
